name: Build Python on branch

on:
  push:
    branches: ["main"]
    paths: ["scripts/**", ".github/cosmocc_version.txt", ".github/workflows/**", "zigshim/**", "checksums/**", "baseline/**"]
  pull_request:
    paths: ["scripts/**", ".github/cosmocc_version.txt", ".github/workflows/**", "zigshim/**", "checksums/**", "baseline/**"]
  workflow_dispatch:
    inputs:
      run_tests:
        required: false
        type: boolean
      debug:
        required: false
        type: boolean
      verbose:
        required: false
        type: boolean
      buildsystem_branch:
        required: false
        type: string
        default: "portable-python"

jobs:
  cpython:
    name: CPython ${{ matrix.python_version }}
    strategy:
      fail-fast: false
      matrix:
        python_version: [ 3.9.22, 3.10.17, 3.11.12, 3.12.10, 3.13.3 ]
    uses: ./.github/workflows/build_python.yml
    with:
      python_version: ${{ matrix.python_version }}
      run_tests: ${{ inputs.run_tests || false }}
      debug: ${{ inputs.debug || false }}
      verbose: ${{ inputs.verbose || false }}
      platforms: "linux-x86_64,linux-aarch64,linux-i386,linux-arm,linux-riscv64,linux-loongarch64,linux-s390x,linux-powerpc64le,macos,windows,cosmo,freebsd13-x86_64,freebsd14-x86_64,freebsd15-x86_64,solaris11-x86_64"
      buildsystem_branch: ${{ inputs.buildsystem_branch || 'portable-python' }}

  graalpy:
    name: GraalPy ${{ matrix.graalpy_version }}
    strategy:
      fail-fast: false
      matrix:
        graalpy_version: [ 24.2.1 ]
    uses: ./.github/workflows/repackage_graalpy.yml
    with:
      graalpy_version: ${{ matrix.graalpy_version }}
      platforms: "linux-x86_64,linux-aarch64,macos,windows"

  pypy:
    name: PyPy ${{ matrix.pypy_version }}
    strategy:
      fail-fast: false
      matrix:
        pypy_version: [ 7.3.19 ]
    uses: ./.github/workflows/repackage_pypy.yml
    with:
      pypy_version: ${{ matrix.pypy_version }}
      platforms: "linux-x86_64,linux-aarch64,macos,windows"
