name: Build Python

on:
  workflow_dispatch:
    inputs:
      python_version:
        required: true
        type: string
      run_tests:
        required: false
        type: boolean
      debug:
        required: false
        type: boolean
  workflow_call:
    inputs:
      python_version:
        required: true
        type: string
      run_tests:
        required: false
        type: boolean
      debug:
        required: false
        type: boolean

env:
  RUN_TESTS: ${{ inputs.run_tests }}
  DEBUG_CI: ${{ inputs.debug }}

jobs:
  build_linux:
    name: Linux ${{ inputs.python_version }} ${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        arch: [ x86_64, aarch64, armv7l ]
    uses: ./.github/workflows/build_python_linux.yml
    with:
      python_version: ${{ inputs.python_version }}
      arch: ${{ matrix.arch }}
      run_tests: ${{ inputs.run_tests }}
      debug: ${{ inputs.debug }}

  build_windows:
    name: Windows ${{ inputs.python_version }} x86_64 (build)
    runs-on: windows-latest

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure build for x86_64
        uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: Remove Strawberry
        shell: pwsh
        run: |
          Rename-Item c:\strawberry strawberry2

      - name: Build
        shell: bash
        run: |
          set -ex
          ./scripts/build_windows.sh x86_64 ${{ inputs.python_version }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-windows-x86_64-${{ inputs.python_version }}
          path: ./python*.zip

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: ${{ always() && inputs.debug }}
        with:
          name: build-python-windows-x86_64-${{ inputs.python_version }}
          path: ./*python*.tar.gz

  test_windows:
    name: Windows ${{ inputs.python_version }} x86_64 (test)
    needs: build_windows
    runs-on: windows-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-windows-x86_64-${{ inputs.python_version }}
          path: ./python/

      - name: Test python in clean environment
        shell: bash
        run: |
          7z.exe x python/python-${{ inputs.python_version }}-windows-x86_64.zip

          cd python-${{ inputs.python_version }}-windows-x86_64
          bin/python --version
          ./bin/python -c "import ssl"

          if [[ "${{ inputs.run_tests }}" == "true" ]]; then
            ./bin/python -m test -v -ulargefile,network,decimal,cpu,subprocess,urlfetch,tzdata
          fi

  build_macos:
    name: MacOS ${{ inputs.python_version }} universal2 (build)
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install coreutils
        run: brew install coreutils

      - name: Build
        run: |
          set -ex
          ./scripts/build_macos.sh universal2 ${{ inputs.python_version }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-darwin-universal2-${{ inputs.python_version }}
          path: ./python*.zip

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: ${{ always() && inputs.debug }}
        with:
          name: build-python-darwin-universal2-${{ inputs.python_version }}
          path: ./*python*.tar.gz

  test_macos:
    name: MacOS ${{ inputs.python_version }} universal2 (test)
    needs: build_macos
    runs-on: macos-11

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-darwin-universal2-${{ inputs.python_version }}
          path: ./python/

      - name: Test python in clean environment
        shell: bash
        run: |
          unzip python/python-${{ inputs.python_version }}-darwin-universal2.zip

          cd python-${{ inputs.python_version }}-darwin-universal2
          chmod +x ./bin/python
          ./bin/python --version
          ./bin/python -c "import ssl"

          if [[ "${{ inputs.run_tests }}" == "true" ]]; then
            ./bin/python -m test -v -ulargefile,network,decimal,cpu,subprocess,urlfetch,tzdata
          fi
