name: Build Python on branch

on:
  push:
    branches: ["main"]
    paths: ["scripts/**", ".github/workflows/**", "zigshim/**", "checksums/**"]
  pull_request:
    paths: ["scripts/**", ".github/workflows/**", "zigshim/**", "checksums/**"]
  workflow_dispatch:
    inputs:
      run_tests:
        required: false
        type: boolean
      debug:
        required: false
        type: boolean
      verbose:
        required: false
        type: boolean
      buildsystem_branch:
        required: false
        type: string
        default: "portable-python"

jobs:
  build:
    name: ${{ matrix.python_version }}
    strategy:
      fail-fast: false
      matrix:
        python_version: [ 3.9.19, 3.10.14, 3.11.9, 3.12.4 ]
    uses: ./.github/workflows/build_python.yml
    with:
      python_version: ${{ matrix.python_version }}
      run_tests: ${{ inputs.run_tests || false }}
      debug: ${{ inputs.debug || false }}
      verbose: ${{ inputs.verbose || false }}
      platforms: "linux-x86_64,linux-aarch64,linux-i386,linux-arm,linux-riscv64,macos,windows,freebsd13-x86_64,freebsd14-x86_64"
      buildsystem_branch: ${{ inputs.buildsystem_branch || 'portable-python' }}
