name: Build and publish CPython

on:
  workflow_dispatch:
    inputs:
      python_version:
        required: true
        type: string
      beta:
        required: false
        type: boolean
        default: false
  workflow_call:
    inputs:
      python_version:
        required: true
        type: string
      beta:
        required: false
        type: boolean
        default: false

jobs:
  build:
    name: Build CPython ${{ inputs.python_version }}
    uses: ./.github/workflows/build_python.yml
    with:
      python_version: ${{ inputs.python_version }}
      platforms: "linux-x86_64,linux-aarch64,linux-i386,linux-arm,linux-riscv64,linux-loongarch64,linux-s390x,linux-powerpc64le,macos,windows-x86_64,windows-aarch64,cosmo,freebsd13-x86_64,freebsd14-x86_64,freebsd15-x86_64,freebsd13-aarch64,freebsd14-aarch64,freebsd15-aarch64,freebsd13-riscv64,freebsd14-riscv64,freebsd15-riscv64,solaris11-x86_64"

  publish:
    name: Publish CPython ${{ inputs.python_version }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Get tags
        run: git fetch --tags origin

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          pattern: python-*
          path: /tmp/python/
          merge-multiple: true

      - name: Get latest
        run: |
          echo "LATEST_TAG=$(./scripts/pick_semver.sh ${{ inputs.python_version }} ${{ inputs.beta }} cpython true)" >> $GITHUB_ENV

      - name: Pick tag
        id: pick_tag
        run: |
          SELECTED_TAG=$(./scripts/pick_semver.sh ${{ inputs.python_version }} ${{ inputs.beta }} cpython)
          echo "SELECTED_TAG=$SELECTED_TAG" >> $GITHUB_ENV
          echo "::set-output name=release_tag::$SELECTED_TAG"

      - name: Create release
        run: |
          gh release create ${{ env.SELECTED_TAG }} \
            --title ${{ env.SELECTED_TAG }} \
            --target ${{ github.sha }} \
            ${{ env.LATEST_TAG && format('--generate-notes --notes-start-tag {0}', env.LATEST_TAG) || format('--notes "Python {0}"', inputs.python_version) }} \
            ${{ inputs.beta && '--prerelease' || '' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload files
        run: |
          gh release upload ${{ env.SELECTED_TAG }} /tmp/python/python*.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    outputs:
      release_tag: ${{ steps.pick_tag.outputs.release_tag }}

  update_installers:
    name: Update installers
    needs: publish
    permissions:
      contents: write
    uses: ./.github/workflows/update_nodejs_installers.yml
    with:
      version: ${{ inputs.python_version }}
      release_tag: ${{ needs.publish.outputs.release_tag }}
      beta: ${{ inputs.beta }}
      implementation: cpython
    secrets: inherit
