name: Update NodeJS Installers

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
      release_tag:
        required: true
        type: string
      beta:
        required: false
        type: boolean
        default: false
      implementation:
        required: true
        type: string
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      release_tag:
        required: true
        type: string
      beta:
        required: false
        type: boolean
        default: false
      implementation:
        required: true
        type: string

permissions:
  contents: write

jobs:
  update_base:
    name: Update NodeJS installers
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull latest
        run: |
          git pull

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Update and publish installers
        run: |
          python ./scripts/update_installer.py ${{ inputs.version }} ${{ inputs.release_tag }} ${{ inputs.implementation }}

          cd ./installers/nodejs
          npm i
          npm run build
          npm publish ${{ inputs.beta && '--tag beta' || '' }}
          cd -

          if [[ "${{ inputs.implementation }}" == "cpython" ]]; then
            MAJOR=$(echo ${{ inputs.version }} | cut -d. -f1)
            MINOR=$(echo ${{ inputs.version }} | cut -d. -f2)

            cd ./installers/nodejs-$MAJOR.$MINOR
            npm i || true
            npm run build
            npm i
            npm publish ${{ inputs.beta && '--tag beta' || '' }}
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Commit and push
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"
          commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          commit_message: Releasing ${{ inputs.release_tag }}